@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.container:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}